In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [39]:
#loading the dataframe
raw_mail_data = pd.read_csv('mail_data.csv')

In [40]:
raw_mail_data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [23]:
#replace Null values in to Null string
mail_data = raw_mail_data.fillna('')

In [26]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [42]:
#label spam as 0, ham as 1
mail_data.loc[mail_data['Category'] == 'spam', 'Category'] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category'] = 1

In [43]:
mail_data

     Category                                            Message
0           1  Go until jurong point, crazy.. Available only ...
1           1                      Ok lar... Joking wif u oni...
2           0  Free entry in 2 a wkly comp to win FA Cup fina...
3           1  U dun say so early hor... U c already then say...
4           1  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [44]:
#seperate data by label
X = mail_data['Message']
Y = mail_data['Category']

In [45]:
#splitting in to training and test data#
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=3)

#Feature Extraction

In [53]:
feature_extracion = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
X_train_features = feature_extracion.fit_transform(X_train)
X_test_features = feature_extracion.fit_transform(X_test)

Y_train = Y_train.astype(int)
Y_test = Y_test.astype(int)

In [60]:
print(X_train_features)

  (0, 4395)	0.2381939537451588
  (0, 1346)	0.35819582451620724
  (0, 6893)	0.3415198838844332
  (0, 4782)	0.35819582451620724
  (0, 5433)	0.35819582451620724
  (0, 6347)	0.3205106833274321
  (0, 6504)	0.3415198838844332
  (0, 3580)	0.3066722766928501
  (0, 4784)	0.35819582451620724
  (1, 7517)	0.47069736132291856
  (1, 7187)	0.4211761349306341
  (1, 1777)	0.47069736132291856
  (1, 2730)	0.4332359997074034
  (1, 1868)	0.22810756953980624
  (1, 3470)	0.37386114632085715
  (2, 1167)	0.31599255792223596
  (2, 3129)	0.25115951831751987
  (2, 4482)	0.32769158263038667
  (2, 5075)	0.3242677847316933
  (2, 1456)	0.5216889267504228
  (2, 4387)	0.46680296908253627
  (2, 4068)	0.2426314144849914
  (2, 3393)	0.2749579579161142
  (3, 4118)	0.6162876018585739
  (3, 1874)	0.7875211691093821
  :	:
  (4454, 3665)	0.3625377594092293
  (4454, 3995)	0.4177283465040272
  (4454, 2660)	0.4177283465040272
  (4454, 4870)	0.667291967302074
  (4455, 7398)	0.48010302473406014
  (4455, 2022)	0.538035130107392
  (4455, 5488)	0.6928342402130023
  (4456, 5874)	0.13299943060824024
  (4456, 7021)	0.23793234902887161
  (4456, 1633)	0.496512345367847
  (4456, 4526)	0.150900575623007
  (4456, 1186)	0.21559627313313726
  (4456, 2080)	0.21559627313313726
  (4456, 546)	0.17910346918055334
  (4456, 5212)	0.2081734458776284
  (4456, 4308)	0.23425277914684126
  (4456, 308)	0.1649593324771261
  (4456, 1651)	0.23986453017807646
  (4456, 696)	0.21559627313313726
  (4456, 3343)	0.22177279993556606
  (4456, 6436)	0.2129181137693349
  (4456, 403)	0.2129181137693349
  (4456, 5705)	0.2060498855892949
  (4456, 7158)	0.2185298648005701
  (4456, 93)	0.26806742373562287